* {
  padding: 0;
  margin: 0;
}

body {
  background-color: white;
  padding: 5%;
  /*NEW*/
  text-align: center;
}

#create-questions {
  text-align: left;
}

#quiz {
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  height: 550px;
  position: relative;
  overflow: hidden;
  color: black;
  border: black solid 1px;
}

#quiz h1 {
  font-size: 2.5em;
  margin: 0px;
  font-weight: 100;
  position: relative;
  top: 25px;
}

#quiz h2 {
  font-size: 3em;
  margin: 0px;
  font-weight: 100;
}

#quiz h3 {
  font-size: 2.5em;
  margin: 0px;
  font-weight: 100;
}

#quiz p {
  margin: 0px 0px 14px 0px;
}

#quiz .btn {
  display: inline-block;
  cursor: pointer;
  background-color: red;
  color: white;
  text-decoration: none;
  padding: 5px 15px;
  border-radius: 6px;
}

#quiz .intro {
  position: absolute;
  top: 150px;
  /*left: 660px;*/
  left: 100%;
  width: 80%;
}

#quiz .intro p {
  margin: 0px 0px 40px 0px;
}

#quiz .progress {
  width: 60%;
  position: absolute;
  top: 100px;
  left: 100%;
}



#quiz .question {
  position: absolute;
  top: 150px;
  /*left: 660px;*/
  left: 100%;
  width: 80%;
}

#quiz .question .question-text  {
  font-size: 1.5em;
  margin: 0px 0px 20px 0px;
}

#quiz .question .answer-choice  {
  display: inline-block;
  font-size: 1em;
  width: 40%;
  border: 2px solid yellow;
  border-radius: 6px;
  padding: 10px;
  margin: 0px 5px 10px 5px;
  position: relative;
}

#quiz .question .answer-choice.selected  {
  border-color: red;
}

#quiz .question .answer-choice.correct  {
  border-color: green;
}

#quiz .question .answer-choice::after  {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  background: no-repeat 0px 0px;
  background-size: 20px 20px;
  position: absolute;
  top: 5px;
  right: 5px;
}

#quiz .question .answer-choice.select::after  {
  background-image: url(/images/wrong.png);
}

#quiz .question .answer-choice.correct::after  {
  background-image: url(/images/correct.png);
}

#quiz .question.unanswered .answer-choice {
  cursor: pointer;
}

#quiz .question.unanswered .answer-choice:hover {
  background-color: gold;
}

#quiz .question.answered .answer-choice {
  cursor: default;
}

#quiz .feedback {
  color: black;
  margin-top: 50px;
  transition: opacity .5s,
              margin-top .5s;
  visibility: hidden;
  opacity: 0;
}

#quiz .feedback .btn {
  margin-top: 5px;
}

#quiz .answered .feedback {
  visibility: visible;
  opacity: 1;
  margin-top: 10px;
}

#quiz .results {
  position: absolute;
  top: 150px;
  left: 100%;
  width: 80%;
}

#quiz .active,
#quiz .inactive {
  transition: left .5s ease-in-out;
}

#quiz .active {
  left: 10%;
}

#quiz .progress.active {
  left: 20%;
}

#quiz .progress.inactive {
  visibility: hidden;
}

#quiz .intro.inactive,
#quiz .inactive.answered {
  left: -100%;
}

#quiz .active.answered {
  left: 10%;
}

@media screen and (max-width:700px) {
  #quiz {
    font-size: 14px;
  }
  #quiz h1 {
    font-size: 2em;
  }

  #quiz h2 {
    font-size: 2em;
  }

  #quiz h3 {
    font-size: 2em;
  }
  #quiz .intro {
    position: absolute;
    top: 150px;
  }
  #quiz .question .question-text  {
    font-size: 1.2em;
  }
  #quiz .progress {
    width: 70%;
    top: 70px;
  }
  #quiz .progress.active {
    left: 15%;
  }
  #quiz .question {
    position: absolute;
    top: 100px;
  }
  #quiz .question .answer-choice  {
    width: 80%;
  }
}
