<!DOCTYPE html>
<html ng-app="QuizApp">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/style.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>

    <div id="create-questions">

      ADD QUESTIONS:

      <form
        ng-controller="QuizController as quizCtrl"
        ng-submit="quizCtrl.create()">
        QUESTION:
        <br />
        <input type="text"
          ng-model="quizCtrl.questiontext"
          placeholder="Enter Question Here">
            <br />
        Answers:
        <br />
        A:
        <input type="text"
          ng-model="quizCtrl.firstchoice"
          placeholder="First Choice">
        <br />
        B:
        <input type="text"
          ng-model="quizCtrl.secondchoice"
          placeholder="Second Choice">
        <br />
        C:
        <input type="text"
          ng-model="quizCtrl.thirdchoice"
          placeholder="Third Choice">
        <br />
        D:
        <input type="text"
          ng-model="quizCtrl.fourthchoice"
          placeholder="Fourth Choice">
        <br />
        Correct Answer:
        <input type="number"
          ng-model="quizCtrl.correctchoice"
          placeholder="Correct Answer">
        <br />
        <input type="submit" value="Add Question">
        <br />

        <hr />
        ALL QUESTIONS:
        <ul>
          <li ng-repeat="question in quizCtrl.questions">
            {{question.question_text}}
            <br/>
            A: {{question.answers[0].answer_text}}
            <br/>
            B: {{question.answers[1].answer_text}}
            <br/>
            C: {{question.answers[2].answer_text}}
            <br/>
            D: {{question.answers[3].answer_text}}
            <br/>
            Correct Answer: {{question.correct_answer_id}}
          </li>
        </ul>

      </form>

    </div>

    <!-- <form action="/create.html" method="post">
      QUESTION:
      <br />
      <input type="text"
          name="question[question_text]"
          placeholder="Enter Question Here">
          <br />
      Answers:
      <br />
      <input type="hidden" name="question[answers][0][answer_id]" value="0">
      A: <input type="text" name="question[answers][0][answer_text]" placeholder="First Choice">
      <br />
      <input type="hidden" name="question[answers][1][answer_id]" value="1">
      B: <input type="text" name="question[answers][1][answer_text]" placeholder="Second Choice">
      <br />
      <input type="hidden" name="question[answers][2][answer_id]" value="2">
      C: <input type="text" name="question[answers][2][answer_text]" placeholder="Third Choice">
      <br />
      <input type="hidden" name="question[answers][3][answer_id]" value="3">
      D: <input type="text" name="question[answers][3][answer_text]" placeholder="Fourth Choice">
      <br />
      Correct Answer: <input type="number" name="question[correct_answer_id]" placeholder="Correct Answer">
      <br />
      <button type="submit" id="submit-button">
      Create New Quiz
      </button>
    </form> -->

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.1/angular.min.js" charset="utf-8"></script>
    <script src="/js/app.js" charset="utf-8"></script>

  </body>
</html>
