<!DOCTYPE html>
<html ng-app="QuizApp">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/create.css" media="screen" title="no title" charset="utf-8">
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  </head>

  <body>

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Home</a>
        </div>
      </div>
    </nav>

    <div id="create-questions">

      <h1>ADD / VIEW QUESTIONS:</h1>
      <br />
      <hr />

      <form
        ng-controller="QuizController as quizCtrl"
        ng-submit="quizCtrl.create()">
        Question Copy:
        <br />
        <input type="text"
          ng-model="quizCtrl.questiontext"
          placeholder="Enter Question Here">
        <br />
        <br />
        Answer Choices:
        <br />
        <input type="text"
          ng-model="quizCtrl.firstchoice"
          placeholder="A) First Choice">
        <br />
        <br />
        <input type="text"
          ng-model="quizCtrl.secondchoice"
          placeholder="B) Second Choice">
        <br />
        <br />
        <input type="text"
          ng-model="quizCtrl.thirdchoice"
          placeholder="C) Third Choice">
        <br />
        <br />
        <input type="text"
          ng-model="quizCtrl.fourthchoice"
          placeholder="D) Fourth Choice">
        <br />
        <br />
        Correct Answer:
        <br />
        <label class="radio-inline">
          <input type="radio"
            ng-model="quizCtrl.correctchoice"
            ng-value="0">
            A
        </label>
        <label class="radio-inline">
          <input type="radio"
            ng-model="quizCtrl.correctchoice"
            ng-value="1">
            B
        </label>
        <label class="radio-inline">
          <input type="radio"
            ng-model="quizCtrl.correctchoice"
            ng-value="2">
            C
        </label>
        <label class="radio-inline">
          <input type="radio"
            ng-model="quizCtrl.correctchoice"
            ng-value="3">
            D
        </label>



        <br />
        <br />
        <input type="submit" class="btn btn-success" value="Add Question">
        <br />

        <hr />
        <h2>QUESTIONS CURRENTLY IN DATABASE:</h2>
        <br />
        <ul>
          <li ng-repeat="question in quizCtrl.questions">
            Question: {{question.question_text}}
            <br/>
            A: {{question.answers[0].answer_text}}
            <br/>
            B: {{question.answers[1].answer_text}}
            <br/>
            C: {{question.answers[2].answer_text}}
            <br/>
            D: {{question.answers[3].answer_text}}
            <br/>
            <span ng-show="question.correct_answer_id === 0">Correct Answer: A
            </span>
            <span ng-show="question.correct_answer_id === 1">Correct Answer: B
            </span>
            <span ng-show="question.correct_answer_id === 2">Correct Answer: C
            </span>
            <span ng-show="question.correct_answer_id === 3">Correct Answer: D
            </span>
            <hr />
          </li>
        </ul>

      </form>

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-beta.1/angular.min.js" charset="utf-8"></script>
    <script src="/js/app.js" charset="utf-8"></script>

  </body>
</html>
